<%- model_class = Menu -%>
<div class="page-header">
  <div class="pull-right"><%= link_to fa_icon('cogs'), edit_menu_path(@menu), class: 'btn btn-default' %></div>
  <h1><%= @menu.name %></h1>
  <h2><%= @menu.description %></h2>
</div>

<div id="menu_items">
  <% @menu.menu_items.each do |menu_item| %>
    <%= render partial: 'menu_items/menu_item', locals: { menu_item: menu_item } %>
  <% end %>
</div>

<%= render partial: 'menu_items/form' %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              menus_path, :class => 'btn btn-default' %>
<%= link_to 'Menu items',
              menu_menu_items_path(@menu), :class => 'btn btn-default' %>
