<%= form_for @menu_item.new_record? ? [@menu, @menu_item] : @menu_item, remote: action_name == 'new' ? false : true, :html => { :class => "form-horizontal" } do |f| %>

  <%= render partial: 'shared/errors', locals: { object: @menu_item } %>

  <div class="form-group">
    <div class="col-xs-8">
      <%= f.text_field :name, placeholder: 'Name of the menu item', :class => 'form-control' %>
    </div>
    <div class="col-xs-4">
      <%= f.number_field :price, placeholder: 'Price', value: f.object.price.blank? ? f.object.price : number_to_currency(f.object.price.to_f, delimiter: '', unit: ''), step: 0.01, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-12">
      <%= f.text_field :description, placeholder: 'Description (optional)', :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-12">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), '#hide_form', :class => 'btn btn-default' if !@menu_item.new_record? %>
    </div>
  </div>

<% end %>
